<h3>Lista de categorias</h3>
<hr>
<a href="/admin/categorias/adicionar"><button class="btn btn-outline-success mb-4">+ Adicionar</button></a>

{{#each categoria}}
    <div class="card mt-2">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>{{slug}}</small>

            <div class="d-flex flex-row mt-3">
                <a href="categorias/editar/{{_id}}"><button class="btn btn-outline-primary">Editar</button></a>

                <form method="post" action="categorias/deletar" style="margin-left: 4px;">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-danger">Deletar</button>
                </form>
            </div>

        </div>
    </div>

{{else}}
    <h3>Não há nenhum registro de categorias. Comece adicionando uma.</h3>

{{/each}}