<h3>Lista de postagens</h3>
<hr>
<a href="/admin/postagens/adicionar"><button class="btn btn-success mb-4">+ Adicionar</button></a>

{{#each postagem}}
    <div class="card mb-3">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <small><b>Categoria:</b> {{categoria.nome}}</small>

            <div class="d-flex flex row mt-3">
                <a href="/admin/postagens/editar/{{_id}}"><button class="btn btn-outline-primary">Editar</button></a>
            </div>
        </div>
    </div>
{{else}}
    <h3>Não há nenhuma postagem ainda.</h3>
{{/each}}