<h3>Lista de postagens</h3>
<hr>
<a href="/admin/postagens/adicionar"><button class="btn btn-success mb-4">+ Adicionar</button></a>

{{#each postagem}}
    <div class="card mb-3">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <small><b>Categoria:</b> {{categoria.nome}}</small>

            <div class="d-flex flex-row align-items-center mt-3">
                <a href="/admin/postagens/editar/{{_id}}"><button class="btn btn-outline-primary me-2">Editar</button></a>

                <form method="post" action="/admin/postagens/deletar">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <h3>Não há nenhuma postagem ainda.</h3>
{{/each}}