<h2>Todas as postagens: {{categoria.nome}}</h2>
<hr>

{{#each postagem}}
    <div class="card p-3 mb-3">
        <div class="card-box">
            <small>{{categoria.nome}}</small>
            
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Ler mais</button></a>
        </div>
    </div>

{{else}}
    <h3>Nenhuma postagem dessa categoria foi encontrada.</h3>

{{/each}}